{% extends 'main.html' %}
{% block content %}
<h1>Template</h1>

<div>
    <a href="/calendarSync"><h3>Calendar Sync</h3></a>
    <a href="/courseLoad"><h3>Course Load Suggestion</h3></a>
    <a href="/roadMap"><h3>Visual Road Map</h3></a>
    <a href="/waitListClearance"><h3>Wait List Clearance</h3></a>
    <a href="/openSeat"><h3>Open Seat Notifications</h3></a>
    <a href="/sectionRec"><h3>Section Recommendations</h3></a>
    <a href="/survey"><h3>Survey</h3></a>
</div>
{% endblock content %}